{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "prettier/prettier": [
      "error",
      {
        "endoOfLine": "auto"
      }
    ]
  }
}