{
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": 0,
    "prettier/prettier": [
      "error",
      {
        "endoOfLine": "auto"
      }
    ]
  }
}