body {
  font-family: monospace;
  background: #E5E9EB;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 3rem;
  color: #113D6D;
}

img {
  margin: 3rem;
}

a {
  font-size: 2rem;
  color: #8A9398;
}

a:hover {
  color: #113D6D;
}

a:focus {
  color: #FF8C32;
}